pandas==1.4.3
inflection==0.5.1
streamlit==1.23.1
streamlit-folium==0.7.0
folium==0.14.0
seaborn==0.12.2
plotly==5.9.0
matplotlib==3.8.0
matplotlib-inline==0.1.6
Pillow==9.4.0
haversine==2.7.0